<h1>{{posto.dataValues.posto_nome}}</h1>
<hr>
<a class="btn btn-primary btn-lg mb-3" href="posto/adicionar/funcionario">Adicionar funcionário <i class="bi bi-person-add"></i></a>
<a class="btn btn-primary btn-lg mb-3" href="posto/estoque">Meu estoque</a>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"></th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
{{#each funcionarios}}
    <tr>
      <th scope="row">{{this.dataValues.funcionario_nome}}</th>
      <td>{{this.dataValues.funcionario_sexo}}</td>
      <td>
        <a href="posto/editar/funcionario/{{this.dataValues.funcionario_id}}" class="btn btn-primary"><strong>Ver</strong> <i class="bi bi-pencil-square"></i></a>
        <a href="posto/deletar/funcionario/{{this.dataValues.funcionario_id}}" class="btn btn-danger"><strong>Excluir</strong> <i class="bi bi-trash"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>